<div class="row text-center">
  <div class="col-12 m-3">
    <h1>Example of Attribute Directive - ngClass</h1>
  </div>
</div>

<div class="row text-center pt-3">
  <div class="col-4">
    <h3 [ngClass]="textColor">This is First Example of ngClass</h3>
    <br />
    <button class="btn btn-success m-2" (click)="changeColor('text-success')">
      Change to Green
    </button>

    <button class="btn btn-danger m-2" (click)="changeColor('text-danger')">
      Change to Red
    </button>
  </div>

  <div class="col-4">
    <h3 [ngClass]="isTextGreen ? 'text-success' : 'text-danger'">
      This is the second example of ngClass
    </h3>
    <br />

    <input type="checkbox" [(ngModel)]="isTextGreen" /> Change color
  </div>

  <div class="col-4">
    <h3 [ngClass]="userClass">This is the third example of ngClass</h3>
    <br />

    <input type="text" [(ngModel)]="userClass" placeholder="Enter a text" />
  </div>
</div>

<hr />

<div class="row text-center">
  <div class="col-12 m-3">
    <h1>Examples of Attribute directive -ngStyle</h1>
  </div>
</div>

<div class="row text-center pt-3">
  <div class="col-4">
    <h3 [ngStyle]="{ color: styleColor }">
      This is the first example of ngStyle
    </h3>

    <br />

    <button class="btn btn-warning m-2" (click)="updateColor('orange')">
      Change to orange
    </button>

    <button class="btn btn-primary m-2" (click)="updateColor('blue')">
      Change to blue
    </button>
  </div>

  <div class="col-4">
    <h3 [ngStyle]="{ color: istextOrange ? 'orange' : 'blue' }">
      This is the second example of ngStyle
    </h3>

    <br />

    <input type="checkbox" [(ngModel)]="istextOrange" /> Change the color
  </div>

  <div class="col-4">
    <h3 [ngStyle]="customClass">This is the third example of ngClass</h3>
  </div>
</div>
